:root{
	--orange: #fa5400;
	--bluehaze: #c5c6e0;
	--violet: #ab6eff;
	--black: #170845;
	--color_trans: cubic-bezier(.19,1,.22,1);
	--font_base: 16px;
}

@font-face {
	font-family: 'SFProKR';
	font-style: normal;
	font-weight: 400;
	src:url('../font/SFProKRDisplay_Regular.eot');
	src: url('../font/SFProKRDisplay_Regular.eot#iefix') format('embedded-opentype'),
	url('../font/SFProKRDisplay_Regular.woff') format('woff'),
	url('../font/SFProKRDisplay_Regular.woff2') format('woff2'),
	url('../font/SFProKRDisplay_Regular.otf') format('opentype');	
}
@font-face {
	font-family: 'SFProKR';
	font-style: normal;
	font-weight: 500;
	src:url('../font/SFProKRDisplay_Medium.eot');
	src: url('../font/SFProKRDisplay_Medium.eot#iefix') format('embedded-opentype'),
	url('../font/SFProKRDisplay_Medium.woff') format('woff'),
	url('../font/SFProKRDisplay_Medium.woff2') format('woff2'),
	url('../font/SFProKRDisplay_Medium.otf') format('opentype');	
}
@font-face {
	font-family: 'SFProKR';
	font-style: normal;
	font-weight: 600;
	src:url('../font/SFProKRDisplay_SemiBold.eot');
	src: url('../font/SFProKRDisplay_SemiBold.eot#iefix') format('embedded-opentype'),
	url('../font/SFProKRDisplay_SemiBold.woff') format('woff'),
	url('../font/SFProKRDisplay_SemiBold.woff2') format('woff2'),
	url('../font/SFProKRDisplay_SemiBold.otf') format('opentype');	
}

@font-face {
	font-family: 'SFProKR';
	font-style: normal;
	font-weight: 700;
	src:url('../font/SFProKRDisplay_Bold.eot');
	src: url('../font/SFProKRDisplay_Bold.eot#iefix') format('embedded-opentype'),
	url('../font/SFProKRDisplay_Bold.woff') format('woff'),
	url('../font/SFProKRDisplay_Bold.woff2') format('woff2'),
	url('../font/SFProKRDisplay_Bold.otf') format('opentype');	
}
@font-face {
	font-family: 'SFProDP';
	font-style: normal;
	font-weight: 400;
	src:url('../font/SFProDisplay-Medium.eot');
	src: url('../font/SFProDisplay-Medium.eot#iefix') format('embedded-opentype'),
	url('../font/SFProDisplay-Medium.woff') format('woff'),
	url('../font/SFProDisplay-Medium.woff2') format('woff2'),
	url('../font/SFProDisplay-Medium.otf') format('opentype');
}
@font-face {
	font-family: 'SFProDP';
	font-style: normal;
	font-weight: 500;
	src:url('../font/SFProDisplay-SemiBold.eot');
	src: url('../font/SFProDisplay-SemiBold.eot#iefix') format('embedded-opentype'),
	url('../font/SFProDisplay-SemiBold.woff') format('woff'),
	url('../font/SFProDisplay-SemiBold.woff2') format('woff2'),
	url('../font/SFProDisplay-SemiBold.otf') format('opentype');
}
@font-face {
	font-family: 'SFProDP';
	font-style: normal;
	font-weight: 700;
	src:url('../font/SFProDisplay-Bold.eot');
	src: url('../font/SFProDisplay-Bold.eot#iefix') format('embedded-opentype'),
	url('../font/SFProDisplay-Bold.woff') format('woff'),
	url('../font/SFProDisplay-Bold.woff2') format('woff2'),
	url('../font/SFProDisplay-Bold.otf') format('opentype');
}

@font-face {
	font-family: Ash;
	font-weight: 800;
	font-style: normal;
	src: url("../font/Ash.eot");
	src: url("../font/Ash.eot#iefix") format("embedded-opentype"),
		url("../font/Ash.woff") format("woff"),
		url("../font/Ash.woff2") format("woff2"),
		url("../font/Ash.otf") format("opentype");
}

@font-face {
	font-family: NtSansKR;
	font-weight: 400;
	font-style: normal;
	src: url("../font/NotoSansKR-Regular.eot");
	src: url("../font/NotoSansKR-Regular.eot#iefix") format("embedded-opentype"),
		url("../font/NotoSansKR-Regular.woff") format("woff"),
		url("../font/NotoSansKR-Regular.woff2") format("woff2"),
		url("../font/NotoSansKR-Regular.otf") format("opentype");
}

@font-face {
	font-family: NtSansKR;
	font-weight: 700;
	font-style: normal;
	src: url("../font/NotoSansKR-Bold.eot");
	src: url("../font/NotoSansKR-Bold.eot#iefix") format("embedded-opentype"),
		url("../font/NotoSansKR-Bold.woff") format("woff"),
		url("../font/NotoSansKR-Bold.woff2") format("woff2"),
		url("../font/NotoSansKR-Bold.otf") format("opentype");
}

.blind{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  overflow: hidden;
}

.hidden{
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.more_btn {
  position: relative;
  display: block;
  transition: transform .8s cubic-bezier(.19, 1, .22, 1) 0s, color .4s cubic-bezier(.19, 1, .22, 1);
}

.more_btn i {
	position: relative;
  display: block;
  left: 0;
  top: 0;
	width: 4.62rem;
  height: 4.62rem;
  background: url('../images/i_right_orange.svg') no-repeat center;
  background-size: 40px;
	transition: background .4s cubic-bezier(.19, 1, .22, 1);
}

.more_btn i::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: transform .4s cubic-bezier(.19, 1, .22, 1), color .4s cubic-bezier(.19, 1, .22, 1);
}

.more_btn:hover i::after,
.more_btn:focus i::after {
  transform: scale(1.2);
  border-color: var(--violet);
}

.more_btn:hover i,
.more_btn:focus i {
  background-image: url('../images/i_right_violet.svg');
}

@media screen and (min-width: 1200px) {
	.more_btn i{
		width: 5.75rem;
    height: 5.75rem;
		background-size: 50px;
	}
}

@keyframes marquee_top{
	from {transform: translateY(0%);}
	to {transform: translateY(-50%);}
}

@keyframes marquee_bottom{
	from {transform: translateY(-50%);}
	to {transform: translateY(0%);}
}

@keyframes marquee_left{
	from {transform: translateX(0%);}
	to {transform: translateX(-50%);}
}